/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');
/* "Noto Serif Display"*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* Quicksand */

/* variables for quick access */
:root{
    --white-text: rgb(255, 255, 255);
    --dark-grey-background: rgb(40, 40, 40);
    --orangered: orangered;
    --font-title: "Noto Serif Display", serif ;
    --font-text: "Quicksand", serif ;
}

/* header */
.background-img {
    position: absolute;
    background-image: url(../images/background.jpg);
    background-color: white;
    width: 100%;
    height: 99vh;
    background-position:center;
    filter: brightness(60%);
}
.background-img-wrapper{
    padding-top: 150px;
    width: 90%;
    height: 99vh;
    position: relative;
    margin: 0 auto;
}
.nav-logo{
    width: 100%;
    height:80px;
    background-color: var(--dark-grey-background);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 0 0 80px 80px;
    border-bottom: solid 2px white;
}
.nav-logo-wrapper{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    width: 700px;
}
.nav-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding: 0px 10px 0px 10px;
    border-style: double;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.logo-a{
    font-family: var(--font-title);
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: var(--white-text);
}
.nav-a{
    padding: 6px;
    font-family: "Montserrat", serif ;
    font-size: 17px;
    color: var(--white-text);
}
.list-item{
    border: solid 1px transparent;
    border-radius: 10px;
    padding: 5px;
    transition: border-color 0.5s ease-in, background-color 0.5s ease-in;
}
.list-item:hover{
    border-color: white;
    background-color: var(--orangered);
}
.header-text{
    font-family: var(--font-title);
    width: 600px;
    font-size: 50px;
    color: var(--white-text);
    line-height: 1.2;
    text-shadow: 5px 5px 5px black;
}
.hr-header-text{
    width: 540px;
    margin-left:0px;
}
.header-description{
    font-family: var(--font-text);
    width: 800px;
    font-size: 15px;
    color: var(--white-text);
    text-shadow: 5px 5px 5px black;
}

/* main */
/* about us - section 1*/
.section1{
    background-color:var(--white-text);
    padding-top:50px;
    padding-bottom:50px;
}
.section1-wrapper{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-us-wrapper{
    width:500px;
}
.about-us{
    font-family: var(--font-title);
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 30px;
}

.about-us-content{
    font-family: var(--font-text);
    font-size: 20px;
}
.about-us-image{
    width:600px;
}
.link{
    color: black;
    font-weight: 600;
}
.link:hover{
    color: rgb(43, 0, 199)
}
.link:active{
    color: red;
}

/* blog - section 2*/
.section2{
    padding-top:50px;
    padding-bottom: 50px;
    background-color: var(--dark-grey-background);
}
.our-blog-tittle{
    font-family: var(--font-title);
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
    color: var(--white-text);
}
.our-blog-text{
    font-family: var(--font-text);
    font-size: 15px;
    text-align: center;
    padding-bottom: 50px;
    color: var(--white-text);
}
.blog-wrapper{
    width:100%;
    display:flex;
    justify-content: space-around;
    padding-bottom: 100px;
}
.blog{
    width: 20%;
    font-family: var(--font-text);
    border-radius: 30px;
    background-color: white;
    box-shadow: 10px 10px 20px black;
    cursor:pointer;
    transition: transform 0.5s ease-out;
}

.blog:hover{
    transform: scale(1.1);
}

.blog-img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.blog-img-wrapper{
    border-radius: 30px;
    width:100%;
    height:200px;
}
.blog-content{
    padding: 20px;
}
.blog-title{
    font-weight: 800;
    font-size: 20px;
}
.blog-text{
    margin-top:10px;
}
.load-more{
    margin:0 auto;
    width: 100px;
    height: 40px;
    text-align: center;
}
.button{
    font-family: var(--font-text);
    font-weight: 400;
    background-color: white;
    border: none;
    cursor: pointer;
    border: solid 1px black;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    transition: background-color 0.5s ease;
}
.button:hover{
    background-color: var(--orangered);
    color: white;
    border-color:white;
}

/* room pricing - section 3 */
.section3{
    background-image: url("../images/pattern-background.jpg");
    background-color: rgb(230, 230, 230);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 99vh;
    padding-top:50px;
}
.section3-wrapper{
    width:90%;
    margin:0 auto;
}
.rooms-and-cost{
    font-family: var(--font-title);
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    padding-bottom: 50px;
}
.grid{
    margin: 0 auto;
    width: 800px;
    height: 300px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3px;
}
.grid-element{
    text-align: center;
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 20px;
    padding: 20px;
    border: solid 1px transparent;
}
.grid-element:nth-child(1){
    background-color: rgb(238, 238, 238);
    text-decoration: underline;
}
.grid-element:nth-child(2){
    background-color: rgb(238, 238, 238);
}
.grid-element:nth-child(3){
    background-color: rgb(238, 238, 238);
}
.grid-element:nth-child(4){
    background-color: rgb(238, 238, 238);
}
.grid-element:nth-child(7){
    background-color: rgb(238, 238, 238);
}
.grid-element:nth-child(10){
    background-color: rgb(238, 238, 238);
}
.grid-element:nth-child(5){
    background-color: white;
    font-weight: 600;
}
.grid-element:nth-child(6){
    background-color: white;
    font-weight: 600;
}
.grid-element:nth-child(8){
    background-color: white;
    font-weight: 600;
}
.grid-element:nth-child(9){
    background-color: white;
    font-weight: 600;
}
.grid-element:nth-child(11){
    background-color: white;
    font-weight: 600;
}
.grid-element:nth-child(12){
    background-color: white;
    font-weight: 600;
}
.text-utilities{
    margin-top:50px;
    font-family: var(--font-title);
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

/* rooms - section 4 */
.section4{
    padding-top:50px;
    padding-bottom:50px;
    background-color: white;
}
.section4-wrapper{
    width:90%;
    margin:0 auto;
}
.section4-content-wrapper{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
}
.section4-info{
    background-color: var(--dark-grey-background);
    color: var(--white-text);
    border-radius: 30px;
    box-shadow: 5px 5px 5px grey;
    padding: 30px;
    width:500px;
}
.section4-title{
    font-family: "Noto Serif Display", serif;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
}
.section4-text{
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
}
.room-pics{
    margin-top: 50px;
}
.room-pic1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 50px;
}
.room-pic2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}
.room-pic3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.room-img{
    width:500px;
    box-shadow: 5px 5px 5px grey;
}
.text-room{
    width: 400px;
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border: solid 1px black;
    border-radius: 30px;
    padding:10px;
    background-color: var(--dark-grey-background);
    color: var(--white-text);
    box-shadow: 3px 3px 5px grey;
}
.line-room{
    background-color: black;
    width: 30px;
    height: 1px;
}
.text-room2{
    width: 400px;
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    border: solid 1px black;
    border-radius: 30px;
    padding:10px;
    background-color: var(--dark-grey-background);
    color: var(--white-text);
    box-shadow: 3px 3px 5px grey;
}
.line-room2{
    background-color: black;
    width: 30px;
    height: 1px;
}

/* facilities - section 5 */
.section5{
    background-color: var(--dark-grey-background);
    padding-top: 50px;
    padding-bottom: 50px;
}
.facilities{
    font-family: var(--font-title);
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.section5-wrapper{
    width: 90%;
    margin: 0 auto;
}
.icon-row:nth-child(1){
    margin-bottom: 100px;
}
.icon-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon{
    width:25%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    color: var(--white-text);
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.fa-solid{
    font-size: 40px;
    color: var(--orangered);
}

/* location - section 6 */
.section6{
    background-color: rgb(230, 230, 230);
    background-image: linear-gradient(white, rgb(150, 150, 150));
    padding-top: 50px;
    padding-bottom: 50px;
}
.section6-wrapper{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.location-info{
    width: 500px;
    padding-top: 10px;
}
.location{
    font-family: var(--font-title);
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    padding-bottom: 50px;
}
.location-text{
    font-family: var(--font-text);
    text-align: center;
}
.address{
    text-decoration:underline;
}
.location-content-wrapper{
    line-height: 1.5;
}
.universities-list{
    font-weight:bold;
    line-height: 2;
}
.university-logos{
    margin: 0 auto;
    margin-top:20px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.university-logo{
    width:50px;
}
.logo-line{
    width: 1px;
    height:60px;
    background-color: black;
}
.maps{
    border-radius: 20px;
}

/* form - section7 */
.section7{
    background-image: linear-gradient(rgb(150, 150, 150), rgb(20, 20, 20));
}
.get-in-touch{
    font-family: var(--font-title);
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.text-get-in-touch{
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.section7-wrapper{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 0px 0px 50px 50px;
}
#form{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.all-input-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.label{
    font-family: var(--font-text);
    color: rgb(70, 70, 70);
    font-size: 20px;
}
.input{
    height: 45px;
    font-size: 15px;
    font-family: var(--font-text);
    color: rgb(70, 70, 70);
    padding: 0 20px 0 20px;
    border: solid 1px rgb(70, 70, 70);
    border-radius: 30px;
}
input:focus{
    outline: none;
}
.input::placeholder{
    color: rgb(200, 200, 200);
    font-size: 15px;
    font-family: var(--font-text);
}
.checkbox-container{
    width: 100%;
    margin-bottom: 50px;
}
.check-box-title{
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.check-box-wrapper{
    display: flex;
    justify-content: space-between;
}
.label-checkbox{
    font-family: var(--font-text);
    color: rgb(70, 70, 70);
    font-size: 15px;
    display: flex;
    align-items: center;
}
input[type="checkbox"]{
    appearance: none;
    height: 15px;
    width: 15px;
    border: solid 1px black;
    border-radius: 30px;
}
input[type="checkbox"]:hover{
    background-color: orangered;
}
input[type="checkbox"]:checked{
    background-color: orangered;
}
.bigger-button{
    width: 100%;
    font-size: 20px;
    border-color: rgb(70, 70, 70);
}

/* footer */
footer{
    background-color: rgb(20, 20, 20);
    color: var(--white-text);
    font-family: var(--font-text);
}
.footer-title{
    font-family: var(--font-title);
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}
.footer-wrapper{
    width: 90%;
    margin: 0 auto;
    padding-top:50px;
    padding-bottom:50px;
}
.footer-content-wrapper{
    margin: 0 auto;
    width: 700px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.contact-info{
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.media-payment-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.icon-text-wrapper{
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    font-size: 15px;
}
.icon-text-wrapper:hover{
    color: var(--orangered);
}
.media-icon-wrapper{
    width: 200px;
    display:flex;
    justify-content: space-between;
}
.fa-envelope, .fa-phone, .fa-map-location-dot{
    font-size: 25px;
}
.social-media{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}
.fa-brands{
    font-size: 20px;
    cursor: pointer;
}
.fa-facebook-f:hover{
    color: blue;
}
.fa-instagram:hover{
    color: var(--orangered);
}
.fa-whatsapp:hover{
    color: green;
}
.fa-youtube:hover{
    color: red;
}
.payment-methods{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}
.fa-cc-mastercard, .fa-cc-visa{
    font-size: 40px;
}
.fa-cc-mastercard:hover{
    color: var(--orangered);
}
.fa-cc-visa:hover{
    color: blue;
}
.copyright-wrapper{
    display: flex;
    justify-content: space-around;
}
.footer-text{
    font-family: var(--font-text);
    cursor: pointer;
}
#copyright{
    font-family: var(--font-text);
}
.footer-text:hover{
    color: var(--orangered);
}






